* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 100vh;
}

.header {
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: gray;
    display: grid;
    grid-template-rows: 1fr 1fr 5fr; 
    gap: 10px;
    justify-content: center;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-header {
    color: white;
    margin: auto;
}

.add-todo, .add-project {
    background-color: black;
    color: white;
    border-radius: 7px;
    border: none;
    padding: 5px;
    width: 100%;
    height: 75%;
}

.add-todo:hover, .add-project:hover {
    background-color: rgb(69, 69, 69);
    cursor: grab;
}

.list {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 20px;
    background-color: rgba(153, 138, 138, 0.53);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 5px;
}

.project-list {
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.project-btn {
    background-color: white;
    border: none;
    border-radius: 7px;
    width: 100%;
    height: 5vh;
}

.project-btn:hover {
    cursor: grab;
    background-color: lightgray;
}

.todo {
    background-color: white;
    border-radius: 16px;
    padding: 5px;
}

.create-dialog {
    width: 200px;
    height: 200px;
    background-color: darkgray;
    border: 1px solid black;
    border-radius: 7px;
    margin: 10vh auto;
}